{% extends 'base.html' %}

{% block title %}
Expert profile
{% endblock title %}

{% block content %}
<style>
   div.box {
    width: 210px;
    height: 210px;
    border: 2px solid black;
    padding: 5px;
    margin-top: 100px;
    display: inline-block;
  	vertical-align: top;
}
    div.information {
    	display: inline-block;
    	vertical-align: top;
    	margin-top: 100px;
    	margin-left: 100px;
    }
    div.container1{
    	margin-top: 10%;
    }
</style>

<div class="box">
	<p text-align = 'center'><img src="{{request.user.expertprofile.photo}}" width="200" height="200"></p>
</div>



<div class="information">
    <h3>{{request.user.last_name}} {{request.user.first_name}} {{request.user.middle_name}}</h3>
    <h3>{{request.user.email}}</h3>
    <h3>Номер телефона : {{request.user.expertprofile.phone_number}}</h3>
    <h3>Место работы : {{request.user.expertprofile.work_place}}</h3>
    <h3>Должность : {{request.user.expertprofile.position}}</h3>
    <h3>Сфера профессиональных интересов : {{request.user.expertprofile.interests}}</h3>
    <h3>Образование : {{request.user.expertprofile.education}}</h3>
    <h3>Степень образования : {{request.user.expertprofile.degree}}</h3>
</div>
<div class="container1"><a class="btn btn-info" href="{% url 'expert_profile_update_url' user.pk %}">Редактировать профиль</a></div>
{% endblock content %}