{% extends 'base_applications.html' %}


{% block title %}
  Заявки экспертов
{% endblock title %}


{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Почта</th>
        <th scope="col">Действие</th>
      </tr>
    </thead>
    <tbody>
      {% for expert in experts  %}
      <tr>
        <td>{{ expert.last_name }} {{ expert.first_name }} {{ expert.middle_name }}</td>
        <td>{{ expert.email }}</td>
        <td><a href="{% url 'active_expert' expert.pk %}" class="btn btn-info">Активировать</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
    
    