{% extends 'base.html' %}
{% load utags %}

{% block title %}
    {{ object.profile }} | Эксперт
{% endblock title %}

{% block content %}

<div class="box">
    <div class="information">
        <h4>{{ object.profile.last_name }} {{ object.profile.first_name}} {{ object.profile.middle_name}}</h4>
        <h4>{{ object.profile.email }}</h4>
        <h4>Номер телефона: {{ object.phone_number }}</h4>
        <h4>Место работы: {{ object.work_place }}</h4>
        <h4>Должность: {{ object.position }}</h4>
        <h4>Сфера профессиональных интересов: {{ object.interests }}</h4>
        <h4>Образование: {{ object.education}}</h4>
        <h4>Степень образования: {{ object.degree }}</h4>
    </div>
    <img class="mb-4"  src="{{ object.photo|media_folder_users }}">
    {% if user.pk == object.profile.pk %}
        <a class="btn btn-info" href="{% url 'expert_profile_update_url' object.pk %}">Редактировать профиль</a>
    {% endif %}
</div>
{% endblock content %}