{% extends 'base_users.html' %}


{% block title %}
  Вход
{% endblock title %}


{% block content %}
    <div class="col-8" style="margin: 0 auto; border: 2px grey solid; border-radius: 10px; padding: 20px;  background-color: rgb(248,249,250);">
      <form id="add_form" method="post">
      <h3 class="text-center mb-4">Авторизация</h3>
        {% csrf_token %}
        {{form}}
        <button form="add_form" type="submit" class="btn btn-primary mt-3">Войти</button>
      </form>
    </div>
{% endblock content %}
    
    