{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<h1 class="text-center">Сброс пароля</h1>
<div class="col-4" style="margin: 0 auto;">
    {% if validlink %}
        <form id="add_form" method="post">
            {% csrf_token %}
            <label for="id_new_password1">Новый пароль:</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            <span class="helptext"></span>
            <ul>
                <li>Веденный пароль не может быть слишком похожим на имя пользователя.</li>
                <li>Веденный пароль должен содержать как минимум 8 символов.</li>
                <li>Веденный пароль не может быть часто используемым паролем.</li>
                <li>Веденный пароль не может состоять только из цифр.</li>
            </ul>
            <label for="id_new_password2">Подтверждение нового пароля:</label> 
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            <button form="add_form" type="submit" class="btn btn-primary mt-3">Изменить пароль</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительна, возможно, потому, что она уже использовалась. Пожалуйста, <a href="{% url 'password_reset_url' %}">запросите новую ссылку</a>.</p>
    {% endif %}
</div>
{% endblock content%}