{% extends 'base.html' %}

{% block title %}
User profile
{% endblock title %}

{% block content %}
<style>
   div.box {
    width: 210px;
    height: 210px;
    border: 2px solid black; /* Параметры рамки */
    padding: 5px; /* Поля вокруг текста */
    margin-top: 100px; /* Отступ сверху */
    display: inline-block;
  	vertical-align: top;
}
    div.information {
    	display: inline-block;
    	vertical-align: top;
    	margin-top: 100px; /* Отступ сверху */
    	margin-left: 100px;
    }
    div.container1{
    	margin-top: 1px;
    }
</style>
<div class="box">
	<p text-align = 'center'><img src="{{request.user.UserProfile.photo}}" width="200" height="200"></p>
</div>



<div class="information">
	<h3>{{request.user.last_name}} {{request.user.first_name}} {{request.user.middle_name}}</h3>
    <h3>{{request.user.email}}</h3>
    <h3>Номер телефона : {{request.user.userprofile.phone_number}}</h3>
    <h3>Почтовый адрес : {{request.user.userprofile.mail}}</h3>
    <h3>ИНН : {{request.user.userprofile.inn}}</h3>
    <h3>ОГРН : {{request.user.userprofile.ogrn}}</h3>
    <h3>Юр.Адрес : {{request.user.userprofile.legal_address}}</h3>
    <h3>ФИО Ген.Директора : {{request.user.userprofile.director_fio}}</h3>
    <h3>Расчетный счет : {{request.user.userprofile.rs}}</h3>
    <h3>Банк : {{request.user.userprofile.bank}}</h3>
</div>
<div class="container1"><a class="btn btn-info" href="{% url 'profile_update_url' user.pk %}">Редактировать профиль</a></div>
{% endblock content %}