.logo {
  height: 30px;
  width: auto;
}

.remark {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  word-wrap: break-word;
  word-break: break-all;
}

.remark img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.remark .text {
  padding-left: 70px;
}

.not-seen {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

.seen {
  box-shadow: 0 0 10px rgba(9, 255, 0, 0.3);
}

.box {
  margin: 0 auto;
}

.box img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
}

.box a {
  width: 250px;
  display: block;
  clear: left;
}

.information {
  margin-left: 300px;
  display: block;
  position: absolute;
}