{% extends 'base_applications.html' %}


{% block title %}
Edit post - '{{application.title}}' - {{block.super}}
{% endblock %}

{% block content %}
<form actions="{{application.get_update_url}}" method='post'>
	{% csrf_token %}

	{% for field in form %}
	<div class='form-group'>
		{% if field.errors%}
		<div class='alert alert-danger'>
			{{field.errors}}


		</div>
		{% endif %}
		{{field.label}}
		{{ field }}
	</div>
	{% endfor %}
	<button type='submit' class='btn btn-primary'> Изменить</button>
</form>
{% endblock %}