{% extends 'base_applications.html' %}


{% block title %}
Applicaton Detail
{% endblock title %}



{% block content %}
<div class="container">
    <h1 class="mt-5">
        {{ applications.project_name }}
    </h1>
    <p>
        {{ applications.user }}
    </p>
    <h4 class="mb-4">
        Ссылка на официальный сайт проекта:
        <a href = '{{ item.project_site }}' >{{applications.project_site}}</a>
    </h4>
    <h4 class="mb-4">
        Дата начала работы на проектом:
        {{applications.data_project_start}}
    </h4>
    <h4 class="mb-4">
    Является ли юридическим лицом:
    {% if applications.legal_entity %}
        Да
    {% else %}
        Нет
    {% endif %}
    </h4>
    <h4 class="mb-4">
        На какой стадии развития находится проект:
        {{applications.project_stage}}
    </h4>
    <h4 class="mb-4">
        Описание продукта/сервиса:
        {{applications.project_description }}


    </h4>
    <h4 class="mb-4">
        Описание бизнес-модели:
        {{applications.businessmodel_description}}
    </h4>
    <h4 class="mb-4">
        Какую проблему решает продукт/сервис:
        {{applications.problem_decision }}
    </h4>
    <h4 class="mb-4">
        Как на данный момент потребители решают данную проблему:
        {{applications.consumer_decision}}
    </h4>
    <h4 class="mb-4">
        Чем продукт / сервис отличается от текущего способа решения проблемы:
        {{applications.product_difference}}
    </h4>
    <h4 class="mb-4">
        Ссылка на фото/видео продукта:
        <a href = 'item.photo_video_project' >{{applications.photo_video_project}}</a>
    </h4>
    <h4 class="mb-4">
        Насколько проработана патентоспособность продукта/услуги:
        {{applications.patentability}}
    </h4>
    <h4 class="mb-4">
        Оценка объема рынка:
        {{applications.market_size}}


    </h4>
    <h4 class="mb-4">
        Описание маркетинговой стратегии:
        {{applications.marketing_description}}


    </h4>
    <h4 class="mb-4">
        Описание стратегии продаж:
        {{applications.sale_strategy}}


    </h4>
    <h4 class="mb-4">
        Описание существующих рисков:
        {{applications.desciption_risk }}


    </h4>
    <h4 class="mb-4">
        Количество клиентов на данный момент:
        {{applications.client_count}}


    </h4>
    <h4 class="mb-4">
        Предыдущие инвесторы (ФИО, сумма инвестиций):
        {{applications.previous_investors}}


    </h4>
    <h4 class="mb-4">
        Какая среднегодовая сумма издержек у компании / проекта за последние 2 года:
        {{applications.middle_cost}}


    </h4>
    <h4 class="mb-4">
        Какая сумма инвестирования необходима для дальнейшего развития:
        {{applications.budget_development}}


    </h4>
    <h4 class="mb-4">
        Какая среднегодовая сумма выручки у компании / проекта за последние 2 года:
        {{applications.middle_revenue }}


    </h4>
    <h4 class="mb-4">
        Количество человек в команде:
        {{applications.team_count}}


    </h4>
    <h4 class="mb-4">
        ФИО членов команды:
        {{applications.fio_team}}


    </h4>
    <h4 class="mb-4">
        Полученное образование членов команды:
        {{applications.team_education}}


    </h4>
    <h4 class="mb-4">
        Опыт работы членов команды:
        {{applications.team_experience}}


    </h4>
    <h4 class="mb-4">
        Текущая занимаемая должность членов команды:
        {{applications.position_member}}


    </h4>
    <h4 class="mb-4">
        Текущее место жительства членов команды:
        {{applications.residence_member}}


    </h4>
    <h4 class="mb-4">
        Как познакомились и пришли к решению работать вместе:
        {{applications.team_create}}


    </h4>
    <h4 class="mb-4">
        Готова ли команда переехать на время акселерационной программы в г.Грозный Чеченская Республика:
        {% if applications.legal_entity %}
            Да
        {% else %}
            Нет
        {% endif %}


    </h4>
    <h4 class="mb-4">
        Готова ли ваша команда посвятить все свое время развитию проекта в соответствии с акселерационной программой:
        {% if applications.legal_entity %}
            Да
        {% else %}
            Нет
        {% endif %}


    </h4>
    <h4 class="mb-4">
        Адрес компании:
        {{applications.adress_company}}


    </h4>
    <h4 class="mb-4">
        ИНН компании:
        {{applications.inn_company}}


    </h4>
    <h4 class="mb-4">
        ФИО контактного лица:
        {{applications.fio}}


    </h4>

    <h4 class="mb-4">
        Загруженный файл:
        {{applications.upload}}


    </h4>
    <h4 class="mb-4">
        Почта контактного лица:
        {{applications.email}}


    </h4>
    <h4 class="mb-4">
        Прикрепленный документ: <a href="http://{{ request.get_host }}/media/{{ applications.upload }}">Файл</a>
    </h4>
    <form id="add_form" method="post">
        {% csrf_token %}
        {{ form }}
        <button form="add_form" type="submit" class="btn btn-primary mt-3">Оставить комментарий</button>
    </form>
    {% for comment in comments %}
    <div class="comment">
        <hr>
        <h4>{{ comment.user.username }}</h4>
        <p>{{ comment.text }}</p>
        <small class="text-muted">{{ comment.created_at }}</small>
    </div>
</div>
{% endfor %}


{% endblock content %}