{% extends 'base_applications.html' %}


{% block title %}
Appications output
{% endblock title %}


{% block tabs %}
<div class="table-responsive-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название проекта</th>
        <th scope="col">Дата оформления</th>
        {% if True in statuses %}
          <th scope='col'>Одобрено/Не одобрено</th>
        {% endif %}
        <th scope="col">Ссылка на проект</th>
        <th scope="col">Статус заявки</th>
        <th scope="col">Эксперты</th>
        <th scope="col">Оценка</th>
        <th scope="col">Подробнее</th>
        {% if not request.user.is_staff or not request.user.is_expert %}
          {% if False in statuses %}
              <th scope="col">Редактировать</th>
          {% endif %}
        {% endif %}
        {% if not request.user.is_staff and not request.user.is_expert %}
          <th scope="col">Удалить</th>
        {% endif %}

      </tr>

    </thead>

    <tbody>

      {% for item in application  %}

      <tr>

        <th scope="row">{{ item.id }}</th>

        <td>{{ item.project_name }}</td>

        <td>{{ item.data_create }}</td>
        {% if item.status %}
        <td>
          {% if request.user.is_staff %}
            {% if not item.approved %}
              <a class="btn btn-info" href="{% url 'switch_status_reporta' item.pk %}">Одобрить</a>
              <p>Не одобрено</p>
            {% else %}
              <a class="btn btn-info" href="{% url 'switch_status_reporta' item.pk %}">Деактивировать</a>
              <p>Одобрено</p>
            {% endif %}
          {% else %}
            {% if item.approved %}
              Одобрено
            {% else %}
              Не одобрено
            {% endif %}
          {% endif %}
        </td>
        {% endif %}

        <td><a href="{{ item.project_site }}">{{ item.project_site }}</a></td>
        
        <td>
          {% if item.status %}
            <p>Отправлено</p>
          {% else %}
            {% if request.user == item.user %}
                <a class="btn btn-info" href="{% url 'switch_status' item.pk %}">Отправить на проверку</a>
            {% else %}
                <p>Не отправлено</p>
            {% endif %}
          {% endif %}
        </td>
        
        <td>
          {% if request.user.is_staff %}
            <a class="btn btn-info" href="{% url 'applications_add_expert_url' item.pk %}">Назначить эксперта</a>
          {% endif %}
          {% if item.experts|length != 0 %}
            {% for expert in item.experts %}
              <small>{{ expert.expert }},</small>
            {% endfor %}
          {% else %}
            <p>Эксперты не назначены</p>
          {% endif %}
        </td>

        <td>
          {% if request.user.is_expert and not request.user.is_staff %}
            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'applications_output_pk_url' item.pk %}" method="post">
                        {% csrf_token %}
                        {{ item.form.as_p }}
                        <button type="submit" class="btn btn-info">Сохранить</button>
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
              Оценить
            </button>
          {% endif %}
          <p>{{item.rating}}</p>
        </td>
        <td><a class="btn btn-info" href="{% url 'applications_detail_url' item.pk %}">Перейти</a></td>
        
        {% if request.user == item.user and not item.status%}
          <td>
            <a class="btn btn-info" href="{% url 'application_update_url' item.pk %}">Редактировать</a>
          </td>
        {% endif %}
        
        {% if not request.user.is_staff or not request.user.is_expert %}
          <td><a class="btn btn-danger" href="{% url 'application_delete_url' item.pk %}">Удалить</a></td>
        {% endif %}


      {% endfor %}

    </tbody>

  </table>

</div>

{% endblock tabs %}