{% extends 'base_applications.html' %}


{% block title %}
    Appications output
{% endblock title %}


{% block content %}
<div style="margin: 10px;">
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название проекта</th>
        <th scope="col">Дата оформления</th>
        <th scope="col">Ссылка на проект</th>
        <th scope="col">Статус заявки</th>
        {% if request.user.is_staff or request.user.is_expert %}
              <th scope="col">Действие</th>
        {% endif %}
        <th scope="col">Подробнее</th>
      </tr>
    </thead>
    <tbody>
      {% for item in application  %}
      <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.project_name }}</td>
            <td>{{ item.data_create }}</td>
            <td><a href="{{ item.project_site }}">{{ item.project_site }}</a></td>
            {% if item.status %}
              <td>Проверено</td>
              {% if request.user.is_staff or request.user.is_expert %}
                  <td><a class="btn btn-info" href="{% url 'switch_status' item.pk %}">Деактивировать</a>
              {% endif %}
              </td>
            {% else %}
              <td>Не проверено</td>
              {% if request.user.is_staff or request.user.is_expert %}
                  <td><a class="btn btn-info" href="{% url 'switch_status' item.pk %}">Проверить</a></td>
              {% endif %}
            {% endif %}
            <td> <a class="btn btn-info" href="{{ item.get_absolute_url }}">Перейти</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
    
    