{% extends 'base_applications.html' %}


{% block title %}
    Добавление эксперта | {{ applications }}
{% endblock title %}



{% block content %}

{% for expert in experts %}
<p>{{ expert.expert }} <a href="{% url 'remove_expert_url' expert.app.id expert.expert.id %}">X</a></p>
{% endfor %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
    </form>
</div>
{% endblock content %}