{% extends 'base_applications.html' %}


{% block title %}
Appications reporting
{% endblock title %}

{% block tabs %}
<div>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название проекта</th>
        <th scope="col">Дата оформления</th>
        <th scope="col">Документ</th>
        <th scope="col">Статус заявки</th>
        <th scope="col">Замечания</th>
        {% if not request.user.is_staff or not request.user.is_expert %}
        <th scope="col">Редактировать</th>
        {% endif %}
        {% if not request.user.is_staff or not request.user.is_expert %}
        <th scope="col">Удалить отчет</th>
        {% endif %}
        <th scope="col">Период</th>
      </tr>
    </thead>
    <tbody>
      {% for item in application  %}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.app.project_name }} <span class="badge badge-info">{{ item.notifications }}</span></td>
        <td>{{ item.app.data_create }}</td>
        <td><a href="http://{{ request.get_host }}/media/{{ item.upload }}">Файл</a></td>
        {% if item.status %}
        <td>Проверено</td>
        {% else %}
        <td>Не проверено</td>
        {% endif %}
        <td><a class="btn btn-info" href="{% url 'reports_detail_url' item.pk %}">Перейти</a></td>
        {% if not request.user.is_staff or not request.user.is_expert %}
        <td><a class="btn btn-info" href="{% url 'report_update_url' item.pk %}">Изменить</a></td>
        {% endif %}
        {% if not request.user.is_staff or not request.user.is_expert %}
        <td><a class="btn btn-danger" href="{% url 'report_delete_url' item.pk %}">Удалить</a></td>
        {% endif %}
        <td>{{item.year}} год , {{item.quarter}}-й квартал</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock tabs %}