{% extends 'base_applications.html' %}
{% load static %}
{% load utags %}

{% block title %}
    {{ applications.project_name }}
{% endblock title %}

{% block content %}
    <h1 class="mt-5">
        {{ applications.project_name }}
    </h1>
    <p>
        {% if applications.user.is_expert %}
            <a href="{% url 'expert_profile_detail_url' applications.user.expertprofile.pk %}">{{ applications.user }}</a> 
        {% else %}
            <a href="{% url 'user_profile_detail_url' applications.user.userprofile.pk %}">{{ applications.user }}</a> 
        {% endif %}
    </p>
    <h3 class="mb-4">
        Ссылка на официальный сайт проекта
    </h3>
    <a href='{{ item.project_site }}' >{{applications.project_site}}</a>
    <h3 class="mb-4">
        Дата начала работы на проектом
    </h3>
    <p>{{ applications.data_project_start }}</p>
    <h3 class="mb-4">
    Является ли юридическим лицом
    </h3>
    <p>
    {% if applications.legal_entity %}
        Да
    {% else %}
        Нет
    {% endif %}
    </p>
    <h3 class="mb-4">
        На какой стадии развития находится проект
    </h3>
    <p>{{applications.project_stage}}</p>
    <h3 class="mb-4">
        Описание продукта/сервиса
    </h3>
    <p>{{applications.project_description }}</p>
    <h3 class="mb-4">
        Описание бизнес-модели
    </h3>
    <p>{{applications.businessmodel_description}}</p>
    <h3 class="mb-4">
        Какую проблему решает продукт/сервис:
    </h3>
    <p>{{applications.problem_decision }}</p>
    <h3 class="mb-4">
        Как на данный момент потребители решают данную проблему
    </h3>
    <p>{{applications.consumer_decision}}</p>
    <h3 class="mb-4">
        Чем продукт / сервис отличается от текущего способа решения проблемы
    </h3>
    <p>{{applications.product_difference}}</p>
    <h3 class="mb-4">
        Ссылка на фото/видео продукта:
    </h3>
    <a href='{{ item.photo_video_project }}' >{{applications.photo_video_project}}</a>
    <h3 class="mb-4">
        Насколько проработана патентоспособность продукта/услуги:
        {{applications.patentability}}
    </h3>
    <h3 class="mb-4">
        Оценка объема рынка
    </h3>
    <p>{{applications.market_size}}</p>
    <h3 class="mb-4">
        Описание маркетинговой стратегии:
    </h3>
    <p>{{applications.marketing_description}}</p>
    <h3 class="mb-4">
        Описание стратегии продаж
    </h3>
    <p>{{applications.sale_strategy}}</p>
    <h3 class="mb-4">
        Описание существующих рисков
    </h3>
    <p>{{ applications.desciption_risk }}</p>
    <h3 class="mb-4">
        Количество клиентов на данный момент:
    </h3>
    <p>{{applications.client_count}}</p>
    <h3 class="mb-4">
        Предыдущие инвесторы (ФИО, сумма инвестиций)
    </h3>
    <p>{{applications.previous_investors}}</p>
    <h3 class="mb-4">
        Какая среднегодовая сумма издержек у компании / проекта за последние 2 года
    </h3>
    <p>{{applications.middle_cost}}</p>
    <h3 class="mb-4">
        Какая сумма инвестирования необходима для дальнейшего развития
    </h3>
    <p>{{applications.budget_development}}</p>
    <h3 class="mb-4">
        Какая среднегодовая сумма выручки у компании / проекта за последние 2 года
    </h3>
    <p>{{applications.middle_revenue }}</p>
    <h3 class="mb-4">
        Количество человек в команде:
    </h3>
    <p>{{applications.team_count}}</p>
    <h3 class="mb-4">
        ФИО членов команды:
    </h3>
    <p>{{applications.fio_team}}</p>
    <h3 class="mb-4">
        Полученное образование членов команды
    </h3>
    {{applications.team_education}}
    <h3 class="mb-4">
        Опыт работы членов команды
    </h3>
    <p>{{applications.team_experience}}</p>
    <h3 class="mb-4">
        Текущая занимаемая должность членов команды
    </h3>
    <p>{{applications.position_member}}</p>
    <h3 class="mb-4">
        Текущее место жительства членов команды
    </h3>
    <p>{{applications.residence_member}}</p>
    <h3 class="mb-4">
        Как познакомились и пришли к решению работать вместе
    </h3>
    <p>{{applications.team_create}}</p>
    <h3 class="mb-4">
        Готова ли команда переехать на время акселерационной программы в г.Грозный Чеченская Республика
    </h3>
    <p>
        {% if applications.legal_entity %}
            Да
        {% else %}
            Нет
        {% endif %}
    </p>
    <h3 class="mb-4">
        Готова ли ваша команда посвятить все свое время развитию проекта в соответствии с акселерационной программой
    </h3>
    <p>
        {% if applications.legal_entity %}
            Да
        {% else %}
            Нет
        {% endif %}
    </p>
    <h3 class="mb-4">
        Адрес компании
    </h3>
    <p>{{applications.adress_company}}</p>
    <h3 class="mb-4">
        ИНН компании
    </h3>
    <p>{{applications.inn_company}}</p>
    <h3 class="mb-4">
        ФИО контактного лица:
    </h3>
    <p>{{applications.fio}}</p>
    <h3 class="mb-4">
        Почта контактного лица
    </h3>
    <p>{{applications.email}}</p>
    <h3 class="mb-4">
        Прикрепленный документ
    </h3>
    <a href="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/media/{{ applications.upload }}">Файл</a></br>
    {% if request.user.is_staff %}
        <button type="button" class="btn btn-danger" onclick="toPdf()">Экспорт в PDF</button>
        {% comment %} <a href="{% url 'applications_export' applications.pk %}" type="button" class="btn btn-danger mt-5">Экспорт в PDF</a> {% endcomment %}
    {% endif %}
    <hr>
    <form id="add_form" method="post">
        {% csrf_token %}
        {{ form }}
        <button form="add_form" type="submit" class="btn btn-primary mt-3">Оставить комментарий</button>
    </form>
    {% for comment in comments %}
    <div class="remark">
        <hr>
        <a href="{% url 'delete_comment' comment.pk %}" type="button" class="ml-2 mb-1 close">
            <span aria-hidden="true">&times;</span>
        </a>
        {% if comment.user.is_expert %}
            <a href="{% url 'expert_profile_detail_url' comment.user.expertprofile.pk %}">
                <img class="mb-4"  src="{{ comment.user.expertprofile.photo|media_folder_users }}">
            </a>
            <div class='text'>
            <h3><a href="{% url 'expert_profile_detail_url' comment.user.expertprofile.pk %}" class="text-dark">{{ comment.user.username }}</a></h3>
        {% else %}
            <a href="{% url 'user_profile_detail_url' comment.user.userprofile.pk %}" class="text-dark">
                <img class="mb-4"  src="{{ comment.user.userprofile.photo|media_folder_users }}">
            </a>
            <div class='text'>
            <h3><a href='{% url "user_profile_detail_url" comment.user.userprofile.pk %}' class="text-dark">{{ comment.user.username }}</a></h3>
        {% endif %}
        <p>{{ comment.text }}</p>
        <small class="text-muted">{{ comment.created_at }}</small>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
{% block script %}
    <script src="{% static 'js/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vfs_fonts.js' %}"></script>
    <script type="text/javascript">
    function toPdf() {
        var data = document.getElementsByClassName('container')[0].textContent
        var docDefinition = {
            content: [{
                    text: '{{ applications.project_name }}',
                    style: 'header'
                },
                {
                    text: 'Краткая информация',
                    style: 'subheader'
                },
                {
                    text: '{{ applications.user }}',
                    {% if applications.user.is_expert %}
                        link: '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url "expert_profile_detail_url" applications.user.expertprofile.pk %}',
                    {% else %}
                        link: '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}{% url "user_profile_detail_url" applications.user.userprofile.pk %}',
                    {% endif %}
                    style: 'small'
                },
                {
                    text: 'Дата начала работы на проектом: {{ applications.data_project_start }}',
                    style: 'small'
                },
                {
                    text: '{% if applications.legal_entity %}Является{% else %}Не является{% endif %} юридическим лицом',
                    style: 'small'
                },
                {
                    text: 'Сайт проекта',
                    link: '{{ applications.project_site }}',
                    style: 'small'
                },
                {
                    text: 'Cтадия разработки',
                    style: 'subheader'
                },
                '{{applications.project_stage}}',
                {
                    text: 'Описание продукта/сервиса',
                    style: 'subheader'
                },
                '{{applications.project_description }}',
                {
                    text: 'Описание бизнес-модели',
                    style: 'subheader'
                },
                '{{applications.businessmodel_description}}',
                {
                    text: 'Какую проблему решает продукт/сервис?',
                    style: 'subheader'
                },
                '{{applications.problem_decision }}',
                {
                    text: 'Как на данный момент потребители решают данную проблему?',
                    style: 'subheader'
                },
                '{{applications.consumer_decision}}',
                {
                    text: 'Чем продукт / сервис отличается от текущего способа решения проблемы?',
                    style: 'subheader'
                },
                '{{applications.product_difference}}',
                {
                    text: 'Ссылка на фото/видео продукта',
                    link: '{{ item.photo_video_project }}',
                    style: 'subheader'
                },
                {
                    text: 'Насколько проработана патентоспособность продукта/услуги?',
                    style: 'subheader'
                },
                '{{applications.patentability}}',
                {
                    text: 'Оценка объема рынка',
                    style: 'subheader'
                },
                '{{applications.market_size}}',
                {
                    text: 'Оценка объема рынка',
                    style: 'subheader'
                },
                '{{applications.market_size}}',
                {
                    text: 'Описание маркетинговой стратегии',
                    style: 'subheader'
                },
                '{{applications.marketing_description}}',
                {
                    text: 'Описание стратегии продаж',
                    style: 'subheader'
                },
                '{{applications.sale_strategy}}',
                {
                    text: 'Описание существующих рисков',
                    style: 'subheader'
                },
                '{{applications.desciption_risk}}',
                {
                    text: 'Количество клиентов на данный момент',
                    style: 'subheader'
                },
                '{{applications.client_count}}',
                {
                    text: 'Предыдущие инвесторы (ФИО, сумма инвестиций)',
                    style: 'subheader'
                },
                '{{applications.previous_investors}}',
                {
                    text: 'Какая среднегодовая сумма издержек у компании / проекта за последние 2 года',
                    style: 'subheader'
                },
                '{{applications.middle_cost}}',
                {
                    text: 'Какая сумма инвестирования необходима для дальнейшего развития',
                    style: 'subheader'
                },
                '{{applications.budget_development}}',
                {
                    text: ' Какая среднегодовая сумма выручки у компании / проекта за последние 2 года',
                    style: 'subheader'
                },
                '{{applications.middle_revenue}}',
                {
                    text: 'Количество человек в команде',
                    style: 'subheader'
                },
                '{{applications.team_count}}',
                {
                    text: 'ФИО членов команды',
                    style: 'subheader'
                },
                '{{applications.fio_team}}',
                {
                    text: 'Полученное образование членов команды',
                    style: 'subheader'
                },
                '{{applications.team_education}}',
                {
                    text: 'Опыт работы членов команды',
                    style: 'subheader'
                },
                '{{applications.team_experience}}',
                {
                    text: 'Текущая занимаемая должность членов команды',
                    style: 'subheader'
                },
                '{{applications.position_member}}',
                {
                    text: 'Текущее место жительства членов команды',
                    style: 'subheader'
                },
                '{{applications.residence_member}}',
                {
                    text: 'Как познакомились и пришли к решению работать вместе',
                    style: 'subheader'
                },
                '{{applications.team_create}}',
                {
                    text: 'Готова ли команда посвятить все свое время развитию проекта в соответствии с акселерационной программой?',
                    style: 'subheader'
                },
                '{% if applications.legal_entity %}Да{% else %}Нет{% endif %}',
                {
                    text: 'Адрес компании',
                    style: 'subheader'
                },
                '{{applications.adress_company}}',
                {
                    text: 'ИНН компании',
                    style: 'subheader'
                },
                '{{applications.inn_company}}',
                {
                    text: 'ФИО контактного лица',
                    style: 'subheader'
                },
                '{{applications.fio}}',
                {
                    text: 'Почта контактного лица',
                    style: 'subheader'
                },
                '{{applications.email}}',
                {
                    text: 'Вложенный файл',
                    link: '{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.META.HTTP_HOST }}/media/{{ applications.upload }}'
                }
            ],
            styles: {
                header: {
                    fontSize: 18,
                    bold: true,
                    alignment: 'center',
                    margin: [ 0, 0, 0, 10 ]
                },
                subheader: {
                    fontSize: 15,
                    bold: true,
                    margin: [ 0, 10, 0, 5 ]
                },
                quote: {
                    italics: true
                },
                small: {
                    fontSize: 10
                }
            }
        }
        pdfMake.createPdf(docDefinition).download('ApplicationDetail.pdf');
    }
    </script>
{% endblock script %}