{% extends 'base_applications.html' %}


{% block title %}
  Заявки
{% endblock title %}


{% block tabs %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название проекта</th>
        <th scope="col">Дата оформления</th>
        {% if True in statuses %}
          <th scope='col'>Принята/Не принята</th>
        {% endif %}
        <th scope="col">Ссылка на проект</th>
        {% if False in statuses %}
        <th scope="col">Статус заявки</th>
        {% endif %}
        {% if request.user.is_staff or request.user.is_expert %}
        <th scope="col">Эксперты</th>
        {% endif%}
        {% if request.user.is_expert or request.user.is_staff %}
          <th scope="col">Оценка</th>
        {% endif %}
        <th scope="col">Подробнее</th>
        {% if not request.user.is_staff and not request.user.is_expert %}
          {% if False in statuses %}
              <th scope="col">Редактировать</th>
          {% endif %}
        {% endif %}
        {% if not request.user.is_staff and not request.user.is_expert %}
          <th scope="col">Удалить</th>
        {% endif %}

      </tr>

    </thead>

    <tbody>

      {% for item in application  %}

      <tr>

        <th scope="row">{{ item.id }}</th>

        <td>{{ item.project_name }}
          {% if item.notifications > 0 %}
            <span class="badge badge-info">{{ item.notifications }}</span></td>
          {% endif %}

        <td>{{ item.data_create }}</td>

        {% if True in statuses %}
          <td>
            {% if request.user.is_staff %}
              {% if item.status %}
                {% if not item.approved %}
                  <a class="btn btn-info" href="{% url 'switch_status_reporta' item.pk %}">Принять</a>
                  <p>Не принята</p>
                {% else %}
                  <a class="btn btn-info" href="{% url 'switch_status_reporta' item.pk %}">Отказать</a>
                  <p>Принята</p>
                {% endif %}
              {% else %}
                <p>Не отправлено</p>
              {% endif %}
            {% else %}
              {% if item.approved %}
                Принята
              {% else %}
                Не принята
              {% endif %}
            {% endif %}
          </td>
        {% endif %}

        <td><a href="{{ item.project_site }}">{{ item.project_site }}</a></td>
        
        
        {% if False in statuses %}
          <td>
            {% if item.status %}
              <p>Заявка отправлена</p>
            {% else %}
              {% if request.user == item.user %}
                  <a class="btn btn-info" href="{% url 'switch_status' item.pk %}">Отправить на проверку</a>
              {% else %}
                  <p>Заявка не отправленa</p>
              {% endif %}
            {% endif %}
          </td>
        {% endif %}
       

        <td>
          {% if request.user.is_staff %}
            <a class="btn btn-info" href="{% url 'applications_add_expert_url' item.pk %}">Назначить эксперта</a>
          {% endif %}
          {% if item.experts|length != 0 %}
            {% if request.user.is_staff or request.user.is_expert %}
              {% for expert in item.experts %}
                <small><a href="{% url 'expert_profile_detail_url' expert.expert.expertprofile.pk %}">{{ expert.expert }}</a></small>
              {% endfor %}
            {% endif %}
          {% endif %}
            
        </td>

        {% if request.user.is_expert or request.user.is_staff %}
          <td>
            {% if request.user.is_expert and not request.user.is_staff %}
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{ item }}">
                Оценить
              </button>
              <div class="modal" id="{{ item }}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Заявка: {{ item }}</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'applications_output_pk_url' item.pk %}" method="post">
                          {% csrf_token %}
                          {{ item.form.as_p }}
                          <button type="submit" class="btn btn-info">Сохранить</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% for i in item.experts %}
            {% if request.user.is_staff or request.user.is_expert %}
              {% if i.rating > 0 %}
                <a href="{% url 'expert_profile_detail_url' i.expert.expertprofile.pk %}">{{ i.expert }} - {{ i.rating }}</a>
              {% else %}
                <a href="{% url 'expert_profile_detail_url' i.expert.expertprofile.pk %}"><s>{{ i.expert }}</s></a>
              {% endif %}
            {% endif %}
            {% endfor %}

          </td>
        {% endif %}

        <td><a class="btn btn-info" href="{% url 'applications_detail_url' item.pk %}">Перейти</a></td>
        
        {% if request.user == item.user and not item.status%}
          <td>
            <a class="btn btn-info" href="{% url 'application_update_url' item.pk %}">Редактировать</a>
          </td>
        {% endif %}
        
        {% if not request.user.is_staff and not request.user.is_expert %}
          <td><a class="btn btn-danger" href="{% url 'application_delete_url' item.pk %}">Удалить</a></td>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock tabs %}