{% extends 'base_applications.html' %}

{% block title %}
    Отчетность | {{ applications }}
{% endblock title %}

{% block content %}
    <a href="http://{{ request.get_host }}/media/{{ applications.upload }}">Скачать файл</a>
	<div class="col-8">
        <form id="add_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <button form="add_form" type="submit" class="btn btn-primary mt-3">Добавить замечание</button>
        </form>
	</div>
    {% for remark in remarks %}
    <div class="remark {% if remark.status %}seen{% else %}not-seen{% endif %}">
        <hr>
        <a href={% url 'delete_remark' remark.pk %} type="button" class="ml-2 mb-1 close">
            <span aria-hidden="true">&times;</span>
        </a>
        <h4>{{ remark.user.username }}</h4>
        <p>{{ remark.text }}</p>
        <small class="text-muted">{{ remark.created_at }}</small>
    </div>
{% endfor %}
{% endblock content %}